@import "../index.scss";

.hidden {
  display: none;
}

.untranslated {
  transform: translateX(0) !important;
}

.sidebar-container {
  width: 12rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  border-right: 2px solid #d3d3d39f;

  .logo {
    height: 5rem;
    width: 4rem;
  }

  .sidebar-items-container {
    height: 100%;
    width: 95%;
    padding-top: 8rem;
  }
  .sidebar-item {
    display: flex;
    flex-direction: row;
    color: #808080e5;
    font-size: 0.9rem;
    padding: 1rem;
    border-radius: 15px;
    margin: 0.7rem;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      margin-right: 0.8rem;
      position: relative;
      top: -0.05rem;
    }

    &.active {
      color: $theme-color;
      background-color: #d3d3d39f;

      &:hover {
        background-color: #d3d3d39f;
      }
    }

    &:hover {
      background-color: #d3d3d33b;
    }
  }
  .other-items-container {
    min-height: 10rem;
    width: 95%;

    hr {
      margin-left: 1.5rem;
      background-color: lightgrey;
    }

    .user-tab {
      padding: 0.5rem;
      width: 95%;
      i {
        margin-right: 0.45rem;
        font-size: 2rem;
        top: 0.15rem;
      }
      .name {
        font-size: 0.8rem;
        color: #646464;
      }
      .email {
        font-size: 0.8rem;
        color: #808080e5;
      }
    }
  }
}
////////////////////////////Sidebar Styles End//////////

main {
  min-height: 100vh;
  width: calc(100% - 32rem);
  max-width: 1300px;
  margin-left: 12rem;

  .dashboard-nav {
    width: calc(100% - 13rem);
    max-width: 1300px;
    padding: 1rem 3rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    z-index: 2;

    .search-container {
      width: 70%;

      .input-container {
        display: flex;
        align-items: center;
        background-color: #d3d3d33b;
        border-radius: 15px;

        i {
          font-size: 1.2rem;
          position: relative;
          padding: 0.2rem 1rem;
          color: $theme-color;
          border-right: 1px solid grey;
        }

        input {
          width: 90%;
          border: none;
          padding: 0.9rem 1rem;
          padding-bottom: 0.7rem;
          outline: none;
          background-color: transparent;
          font-size: 1rem;
          color: $theme-color;
          font-weight: 200 !important;

          ::placeholder {
            color: #d3d3d341 !important;
          }
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2rem;

      .notifications-icon {
        width: 2.3rem;
        height: 2.3rem;
        font-size: 1.2rem;
        color: $theme-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #d3d3d33b;
        margin-right: 2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &.active,
        &:hover {
          background-color: $theme-color;
          color: white;
        }
      }

      .logout {
        color: red;
        font-size: 0.93rem;
        cursor: pointer;
        min-width: fit-content;

        i {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

/////////////////////?Dashboard Home Styles///////////////////

.home-wrapper {
  min-height: 200vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;

  .welcome {
    width: 96%;
    min-height: 16rem;
    border-radius: 32px;
    padding: 3rem;
    background-color: #fec582;
    display: flex;
    flex-direction: row;
    justify-self: center;
    box-shadow: 0px 3px 10px 7px #d3d3d354;
    justify-content: space-between;

    .left-side {
      max-width: 60%;
      color: white;
      font-size: 0.85rem;
      .heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      .text {
        margin-bottom: 1.5rem;
      }

      .button-container {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        .btn,
        .btn-white {
          padding: 0.4rem 1.5rem;
        }
        .btn {
          margin-left: 1rem;
          border-color: white !important;

          &:hover {
            background-color: white !important;
            color: $theme-color !important;
          }
        }
      }
    }

    .right-side {
      background-image: url(../img/girl.png);
      min-height: 11rem;
      width: 40%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;

      i {
        position: absolute;
        right: 0;
        top: -1rem;
        color: white;
      }
    }
  }
}

////////Notifications/////////
.notifications-container {
  width: 19.5rem;
  position: fixed;
  right: 0rem;
  top: 0rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1.5rem;
  padding-top: 8rem;
  overflow-y: scroll;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #d3d3d39f;
    left: 0;
  }

  .title {
    color: $theme-color;
    font-size: 1.4rem;
    text-align: start;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

    .option {
      font-size: 0.8rem;
      align-self: center;
      margin-right: 0.7rem;
      color: #333333;
    }
  }

  .notification-section {
    margin-bottom: 3rem;

    .notification-item {
      padding: 1.2rem 10%;
      background-color: #d3d3d33b;
      font-size: 0.9rem;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      cursor: pointer;

      &:hover {
        background-color: #d3d3d39f;
      }

      .notification-title {
        display: flex;
        justify-content: space-between;
        color: $theme-color;
      }

      &.important .notification-title {
        color: red;
      }

      i {
        color: grey !important;
        cursor: pointer;
      }

      hr {
        height: 1px;
        margin: 1rem 0;
        background-color: #ccc;
        border: none;
      }

      .notification-body {
        p {
          font-size: 0.8rem;
          color: #333333;
        }
      }

      .detail {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        .image i {
          font-size: 2rem;
          margin-right: 0.5rem;
          top: 0.1rem;
        }

        .text {
          .name {
            color: #111111;
          }

          .org {
            color: #888888;
          }
        }
      }

      .download {
        color: $theme-color;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
//////////Todo-Mobile Nav////////

@media (max-width: 1080px) {
  .notifications-container {
    transform: translateX(100vw);
    transition: 0.5s ease-in-out;
  }

  main {
    width: calc(100% - 13rem) !important;
  }
}

@media (min-width: 1440px) {
  .notifications-container {
    justify-self: center;
  }
}

@media (max-width: 680px) {
  .sidebar-container {
    transform: translateX(-100vw);
    transition: 0.5s ease-in-out;
  }

  main {
    width: 100vw !important;
    margin-left: 0rem;
  }

  .dashboard-nav {
    width: 100vw !important;
    .right-side .text {
      display: none;
    }

    .mobile-nav {
      display: flex !important;
    }
  }
}

//////////////////////////////////////////

.message-container {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 1rem 0.3rem;
  border-radius: 20px;

  &:hover {
    background-color: #d3d3d39f;
  }

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #ccc;
    display: flex;
    left: 15%;
    bottom: 0rem;
  }

  .image i {
    font-size: 2rem;
    margin-right: 0.7rem;
    color: grey;
  }

  .text {
    font-size: 0.85rem;
    flex: 1;
    .sender-name {
      color: #111111;
    }
    .preview {
      font-size: 0.8rem;
      color: #888888;
    }
  }

  .right-side {
    position: relative;
    right: 0;
    .time {
      font-size: 0.65rem;
      color: $theme-color;
    }
    .message-count {
      background-color: $theme-color;
      text-align: end;
      max-width: fit-content;
      position: absolute;
      font-size: 0.75rem;
      padding: 1px 2.5px;
      border-radius: 3px;
      right: 0;
      margin-top: 3px;
      color: white;
    }
  }
}

/////////////////////////Content//////////////////

.content {
  min-height: 80vh;
  width: 100%;
  padding: 0 2vw;
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  &:before {
    content: "";
    position: absolute;
    background-color: #d3d3d33b;
    left: 0;
    width: 80%;
    left: 10%;
    justify-self: center;
    height: 2px;
  }
}

//////////////////////////////////////////////////////
////////Articles Styles On Dashboard Home//////////

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;

  .title {
    color: $theme-color;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .details {
    display: flex;
    flex-direction: row;
    margin-top: 0.7rem;
    justify-content: space-between;
    align-items: center;

    .info {
      font-size: 0.81rem;
      color: $theme-color;
    }
  }

  .post-topic {
    padding: 0.5rem 1.2rem;
    border-radius: 12px;
    &.blue {
      background-color: rgb(154, 201, 244);
      color: rgb(91, 168, 237);
    }
    &.purple {
      background-color: rgb(229, 228, 255);
      color: rgb(160, 157, 254);
    }
  }

  .article-text-preview {
    font-size: 0.85rem;
    // color: lighten($theme-color, 15%);
    color: grey;
    margin-top: 0.8rem;
  }

  .post-item-large-container {
    max-width: 26rem;
    height: fit-content;

    img {
      width: 100%;
      height: 8rem;
      object-fit: cover;
      border-radius: 30px;
    }

    .article-body {
      padding: 0 1rem;
    }

    .author-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 0;
      padding: 0 1rem;

      .writer {
        display: flex;
        flex-direction: row;
        align-items: center;
        .image i {
          font-size: 1.7rem;
          margin-right: 0.5rem;
          top: 0.1rem;
          color: grey;
          margin-top: 0rem;
        }

        .text {
          font-size: 0.75rem;
          .name {
            color: #888888;
          }

          .org {
            color: #aaaaaa;
          }
        }
      }

      i {
        color: $theme-color;
        margin-top: 0.5rem;
        cursor: pointer;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  //////////Post Item Small////////

  .post-item-small-container {
    display: flex;
    flex-direction: row;
    max-width: 26rem;
    margin-bottom: 2rem;
    img {
      height: 8rem;
      width: 8rem;
      object-fit: cover;
      border-radius: 20px;
      margin-top: 0.5rem;
    }

    .article-body {
      padding: 0 1rem;

      .post-topic {
        padding: 0.5rem 0.7rem;
      }
    }
    .details .info {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 1417px) {
  .row {
    flex-direction: column;
    padding: 0 2rem;
    .post-item-large-container,
    .post-item-small-container {
      max-width: 100% !important;
      margin: 1rem 0;
    }
  }
}
