@import "../index.scss";

header {
  min-height: 690px;
  position: fixed;
  height: 105vh;
  width: 100%;
  max-height: 890px;
  background-image: url(../img/header-bg.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;

  .header-left {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;

    .heading {
      font-size: 2.3rem;
      color: $theme-color;
      text-align: left;
      width: 100%;

      span {
        color: grey;
        text-align: left;
      }
    }

    .subheading {
      font-size: 0.9rem;
      color: lightslategrey;
      margin-top: 1.2rem;
      width: 100%;
    }

    .btn-reverse {
      align-self: flex-start;
      margin-top: 1.5rem;
    }
  }

  .header-right {
    width: 60vw;
    background-image: url(../img/Group_bg.svg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    overflow: visible;
  }
}

@media(max-width: 960px){
    header{
        background-size: 100%;
        background-position: -50% 0%;
    }
}

@media(max-width: 700px){
    .header-right{
        display: none;
    }

    .header-left{
        width: 100vw !important;
        justify-content: center;
    }
}

@media(max-width:500px){
    header{
        background-size: 160%;
        

        .header-left{
            justify-content: flex-start;
            padding-top: 240px;
        }
    }
}