.page {
  padding-top: 6rem;
  margin-left: 2rem;

  .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0.5rem 1rem;
    background-color: #d3d3d33b;
    border-radius: 10px;

    .info {
      color: #54bf9b;
      font-size: 0.95rem;
      text-decoration: underline;
    }
  }

  .profile-card {
    margin-top: 2rem;
    background-color: #d3d3d33b;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    .profile-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 25%;
      border-right: solid 1px #ccc;

      .profile {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        margin-bottom: 0.75rem;
      }

      .patient-name {
        color: #54bf9b;
      }

      .patient-email {
        color: #c3c5c4;
      }
    }

    .personal-info,
    .contact-info,
    .health-info {
      display: flex;
      flex-direction: column;
    }

    .personal-info h2,
    .contact-info h2,
    .health-info h2 {
      color: #54bf9b;
      font-size: 1.2rem;
    }

    .personal-info {
      .patient-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-top: 0.85rem;

        .firstname h3,
        .lastname h3 {
          color: #d2d2d2;
          font-size: 0.95rem;
          font-weight: 600;
        }

        .firstname p,
        .lastname p {
          color: #8a8f8d;
          font-weight: bold;
        }
      }

      .email-info,
      .age-info {
        h3 {
          margin-top: 0.85rem;
          color: #d2d2d2;
          font-size: 0.95rem;
          font-weight: 600;
        }

        p {
          color: #8a8f8d;
          font-weight: bold;
        }
      }
    }

    .contact-info {
      .mobile-info,
      .address-info {
        h3 {
          margin-top: 0.85rem;
          color: #d2d2d2;
          font-size: 0.95rem;
          font-weight: 600;
        }

        p {
          color: #8a8f8d;
          font-weight: bold;
        }
      }
    }

    .health-info {
      .patient-record {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-top: 0.85rem;

        .patient-height h3,
        .patient-summary h3 {
          color: #d2d2d2;
          font-size: 0.95rem;
          font-weight: 600;
        }

        .patient-height p,
        .patient-summary p {
          color: #8a8f8d;
          font-weight: bold;
        }
      }
    }
  }

  .payment-page {
    margin-top: 4rem;

    .title {
      .fa-money-bill-wave {
        margin-right: 1rem;
      }

      span {
        color: #54bf9b;
        font-size: 1.2rem;
      }
    }

    .card-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 30rem;

      img {
        max-width: 100%;
        width: 20rem;
      }

      p {
        margin-top: 0.95rem;
        font-size: 0.95rem;
        color: #d2d2d2;
      }

      a {
        margin-top: 0.95rem;
        font-size: 1.2rem;
        color: #54bf9b;
        text-decoration: underline;
      }
    }
  }
}
