 .signup-container {

    .signup-wrapper {
        display: flex;
        width: 90rem;
        margin: 0 auto;
        margin-top: 2rem;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.200181);
        border-radius: 8px 0px 0px 8px;

    }

    .signup-left-container {
         background: #54bf9b;
         width: 50%;
         height: 93vh;
    }

    .signup-items-container {
        position: absolute;
        left: 5rem;
        top: 0;
    }


    .signup-logo-container {
        width: 50vw;
        .signup-logo-wrapper {
            padding: 2rem;
            width: 20vw;
            margin: 0 auto;
            
        }
         .signup-logo {
             margin-bottom: 18rem;
             margin-top: 3rem;

             .top-logo {
                 width: 4rem;
                 height: 4rem;
             }
         }
    }

    .welcome {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    .welcome-text {
         font-size: 1.2rem;
         font-weight: 450;
         margin-bottom: 1.2rem;
    }



    .or {
         font-size: 1.2rem;
         margin-bottom: 2rem;
    }

    .or-container {
        width: 60%;
        padding: 1rem;
        margin-bottom: 2rem;

         .tiny-or {
             text-align: center;
             font-size: 13px;
         }
    }

   
    .left-content-container {
        width: 50vw;
        margin-left: 0.6rem;

    .content-wrapper {
         padding: 2rem;
         width: 20vw;
         margin: 0 auto;
         color: #ffffff;
    }

    }

    .img-icon-container {
        width: 80%;
        text-align: right;

        .img-icon {
            width: 2rem;
            height: 2rem;
        }
    }


    .heading-primary-container {
         width: 65%;
         text-align: center;
         color: #54bf9b;
    }

    .signup-right-container {
        padding: 6rem;
        width: 50%;
        margin-left: 2rem;
    }


    .signup-link-container {

        .login-link {
            text-decoration: none;
            border: 2px solid #ffffff;
            border-radius: 15px;
            padding: .9rem 3.8rem;
            color: #ffffff;
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .social-icon {
        display: flex;
        align-items: center;
        background: #ffffff;
        margin-bottom: 2rem;
        width: 60%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 1rem;
    }


    .google-icon {
        margin-left: 1rem;
    }
    .fb-icon-container {
        background: #0C557D;
        padding: .4rem 1rem;
    }

    .social-signup-text {
        margin-left: 3rem;
    }

     .google {
          margin-bottom: .8rem;
     }

      .facebook {
          margin-left: 2.3rem;
      }

      .signup-btn-container {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
      }

      .signup-btn {
           border-radius: 12px;
           padding: 1rem 3.8rem;
           color: #ffffff;
           font-weight: 500;
           font-size: 14px;
           background: #54bf9b;
           border: none;
           text-transform: uppercase;
      }

      .apply {
       width: 70%;
       text-align: center;
        .apply-link {
            text-decoration: none;
             font-size: 12px;
             color: #333;
        }
      }


    @media (max-width: 768px) {

          .signup-left-container {
              width: 100%;
              height: 50vh;
          }

         .signup-logo-container {
             width: 0;
        }

    .left-content-container {
        width: 100%;
        margin-left: 0rem;

        .content-wrapper {
            padding: 0rem;
            width: 100%;
            margin: 0;
        }
    }

         .signup-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
             margin-top: 0rem;
         }

         .green-svg {
             display: none;
         }

          .signup-logo-container {

              .signup-logo-wrapper {
                  padding: 2rem;
              }

              .signup-logo {
                  margin-bottom: 5rem;
                  margin-top: 1rem;

                  .top-logo {
                      width: 3rem;
                      height: 3rem;
                  }
              }
          }
           .welcome {
               margin-bottom: 2rem;
               margin-top: -2rem;
               padding: 0 2rem;
               color: #ffffff;
           }

           .welcome-text {
               margin-bottom: 1.2rem;
               padding: 0 2rem;
               width: 25rem;
               color: #ffffff;
           }

              .or {
                  margin-bottom: 2rem;
                  margin-left: 3rem;
                   color: #ffffff;
              }

               .or-container {
                    .tiny-or {
                       margin-left: 9rem;
                    }
               }

             .signup-right-container {
                 padding: 4rem 10rem;
                 margin-left: 2rem;
             }

            .social-icon {
                margin-bottom: 2.3rem;
                margin-left: 1.8rem;
                width: 18rem;
            }

            .signup-btn-container {
                width: 21rem;
            }

            .apply {
                width: 21rem;
            }

            .img-icon-container {
                display: none;
            }

          .heading-primary-container {
              width: 16rem;

             .heading-primary {
                   margin-left: 5rem;
             }
          }

         .signup-link-container {
             margin-bottom: 2.5rem;
             padding: 0 2rem;

             .login-link {
                 padding: .9rem 3.8rem;
                 color: #ffffff;
             }
         }
    }


      @media (max-width: 425px) {

         .signup-left-container {
             height: 65vh;
         }

        .signup-wrapper {
            width: 525px;
        }

         .signup-right-container {
             padding: 2rem 0rem;
             margin-left: 5rem;
         }

          .social-icon {
              margin-bottom: 2.3rem;
              width: 100% !important;
              margin-left: 2.5rem;
          }

           .signup-btn-container {
                width: 13rem;
                margin-left: 4rem;
           }

           .apply {
                width: 13rem;
                margin-left: 4rem;
           }

          .heading-primary-container {
              width: 100%;
              margin-left: 2rem;

               .heading-primary {
                   margin-left: 0rem;
               }
          }
         
      }

 }

