@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

$theme-color: #1d96fb;

.btn {
  border-radius: 5px;
  padding: 0.4rem;
  border: 2px solid $theme-color !important;

  &:hover {
    background-color: $theme-color;
    color: white !important;
  }
}

.btn-reverse {
  border-radius: 5px;
  padding: 0.4rem;
  color: white !important;
  background-color: $theme-color;
  border: 2px solid $theme-color !important;

  &:hover {
    background-color: white;
    color: $theme-color !important;
  }
}

.mobile-nav-toggle {
  height: 4px;
  width: 1.6rem;
  border-radius: 5px;
  position: fixed;
  background-color: $theme-color;
  right: 2rem;
  top: 1.5rem;
  margin: 5px 0;
  cursor: pointer;
  z-index: 10;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) forwards;
  align-self: center;
  display: none;

  &::before {
    content: "";
    position: absolute;
    transform: translateY(-7px);
    height: 4px;
    width: 1.6rem;
    right: 0;
    border-radius: 5px;
    background-color: $theme-color;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    transform: translateY(7px);
    width: 1.6rem;
    border-radius: 5px;
    background-color: $theme-color;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  &.active {
    background-color: transparent !important;
    transform: rotate(0deg);

    &::after {
      transform: translateY(0px) rotateZ(-45deg);
      opacity: 1;
      background-color: white;
    }

    &::before {
      transform: translateY(-1px) rotate(45deg);
      opacity: 1;
      background-color: white;
    }
  }
}

.navbar-container {
  width: 100vw;
  padding: 0.5rem 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;

  .links-container {
    width: 100%;
    &.right {
      position: relative;
      right: 0rem;
      text-align: center;
    }
    .link {
      font-size: 1.05rem;
      margin: auto 0.8rem;
      color: $theme-color;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      padding-bottom: 5px;
      transition: all 0.5s ease-out;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      text-emphasis: none;

      &.active,
      &:hover {
        border-color: $theme-color;
      }
    }
  }

  .logo-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7rem;

    .logo {
      height: 3rem;
      width: 2rem;
      background-image: url(./img/logo.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .logo-text {
      color: $theme-color;
      font-size: 1.35rem;
      font-family: "Montserrat", sans-serif;
    }
  }
}

@media (max-width: 862px) {
  .navbar-container .links-container {
    display: none;
  }

  header {
    background-size: cover !important;
  }

  .mobile-nav-toggle {
    display: flex !important;
  }
}

header {
  min-height: 690px;
  margin-top: 5rem;
  height: 90vh;
  height: 100%;
  background-image: url(./img/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;

  .header-text {
    max-width: 50vw;
    font-size: 4rem;
    padding-left: 5vw;
    padding-top: 160px;
    color: $theme-color;
    mix-blend-mode: difference;
  }
}
